<li class="{{pr_class}}">
                            <a href="offer_item.html?type=events&id={{id}}" class="item-link item-content">
                                <div class="item-media"><img class="srf-offerlist-image lazy lazy-fadein" data-src="{{img}}">
                                </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            {{name}}
                                        </div>
                                        <div class="item-text">{{event_datetime}}<br/>{{advertiser}}</div>
                                    </div>
                            </a>
                        </li>